<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome on the one and only Tosti site</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'make/style.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- logo -->
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target = "#topBar">
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{%  url 'make:welcome' %}">Tosti</a>
        </div>

        <!-- andere dingen -->
        <div class="collapse navbar-collapse" id = "topBar">
            <ul class = "nav navbar-nav">
                <li class = "navagatiebar">
                    <a href = "{% url 'make:create' %}" class = "navagatiebar">
                        <span class = "glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp
                        Make
                    </a>
                </li>
                <li class = "navagatiebar">
                    <a href = "{% url 'make:index' %}" class = "navagatiebar">
                        <span class = "glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp
                        Rate
                    </a>
                </li>

            </ul>

        </div>


    </div>


</nav>
    <div class="container">
		<p id="intro">This website allows you to create your own tosti and it will calculate the cost of said tosti. You can also inspect Tostis of other people by checking out the rate part</p>
	</div>
</body>
</html>