#header {
	position:relative;
	font-family: "Roboto","Arial",sans-serif;
	font-weight: bold;
	font-size:70px;
	text-align:center;
	color: black;
	border: solid 2px white;
	padding: 10px 0px 10px 0px;
	margin: 5px 5px 5px 5px;
	clear: both;	
	}
	
#intro{
	position:relative;
	font-family: "Roboto","Arial",sans-serif;
	margin: 1% 0px 1% 0px;
	text-align:center;
	color: black;
	font-size:30px;
	padding: 10px 0px 10px 0px;
	margin: 5px 5px 5px 5px;
}

#image{
	margin: 10px 10px 10px 10px;
	padding: 10px 5% 10px 5%;
	clear: both;

}
.afbeeldingen{
	
	border: solid 2px white;
	padding: 5px 5px 5px 5px;
}
a{
	color: black;
}

.navagatiebar{
	color: white;
}
	
#button-group pull-right{
	
	margin: 0px 0px 20px 0px;
}
body{
	 background-color: #d8d0db;
}
